<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="base :: headstuff"></th:block>
    <title>My Items</title>
</head>
<body>
<div th:replace="base :: navbar"></div>
<div class="main">
    <br/>
    <div class="container jumbotron" th:if="${search}!=null"
         th:inline="text">You searched for [[${search}]]:</div>
    <br/>
    <div th:replace="base :: searchstuff"></div>
    <br/>
    <div class="container" th:each="item : ${items}">
        <div class="jumbotron">
            <ul class="list-group">
                <li class="list-group-item"><span th:text="${item.itemName}"></span></li>
                <li class="list-group-item"><span th:text="${item.description}"></span></li>
                <li class="list-group-item"><span th:text="${item.itemTags}"></span></li>
                <li class="list-group-item image-wrapper" th:if="${item.image}">
                    <img class="item-image" th:src="${item.image}"/>
                </li>
                <li class="list-group-item"><span th:text="'$'
                    + ${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}"></span></li>
                <li class="list-group-item"><span th:text="'Items Sold: ' + ${item.itemsSold}"></span></li>
                <li class="list-group-item"><span th:text="'Total Earned for Item: $'
                        + ${#numbers.formatDecimal(item.totalEarnedItem, 0, 'COMMA', 2, 'POINT')}"></span></li>
            </ul>


            <a th:href="@{/items/available/{id}(id=${item.id})}" role="button">
                <button class="btn btn-info btn-lg">Label as Available</button></a><br/>

            <a th:href="@{/items/sold/{id}(id=${item.id})}" role="button">
                <button class="btn btn-info btn-lg">Label as Sold</button></a><br/>

            <a th:href="@{/items/delisted/{id}(id=${item.id})}" role="button">
                <button class="btn btn-info btn-lg">Delist from Public View</button></a><br/>

            <a th:href="@{/items/listed/{id}(id=${item.id})}" role="button">
                <button class="btn btn-info btn-lg">Add Back to Public View</button></a><br/>

            <a th:href="@{/items/delete/{id}(id=${item.id})}" role="button">
                <button class="btn btn-info btn-lg">Delete</button></a><br />
        </div>
    </div>
</div>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>